[core]
    excludesfile = ~/.gitignore
    #atutocrlf = input
    editor = vim
    whitespace = cr-at-eol
    #quotepath = false

[merge]
    tool = vimdiff
    #ff = false

[diff]
    tool = vimdiff

#[branch]
#    autosetuprebase = always

#[pull]
#    rebase = true

#[pager]
#    log = diff-highlight
#    show = diff-highlight
#    diff = diff-highlight

[color]
	status = auto
	diff = auto
	branch = auto
	grep = auto
	interactive = auto

[alias]
    br = branch
    co = checkout
    sw = switch
    st = status
    ci = commit
    cam = commit --amend
    log-one = log --oneline
    log-full = log --oneline --decorate --graph
    log-grep = log -S --pretty=oneline --name-only
    show-branch-master = show-branch --merge-base master HEAD
    delete-merged-master = !git switch master && git pull --rebase --prune origin master && git branch --merged | grep -v 'master' | xargs git branch -d
    delete-gone-master = !git switch master && git pull --rebase --prune origin master && git branch -v |  grep gone | awk '{print $1}' | cat | xargs git branch -D
    delete-merged = !git switch main && git pull --rebase --prune origin main && git branch --merged | grep -v 'main' | xargs git branch -d
    delete-gone = !git switch main && git pull --rebase --prune origin main && git branch -v |  grep gone | awk '{print $1}' | cat | xargs git branch -D
    spr = pull-request
    push-f = push --force-with-lease
    pl-master = pull --rebase origin master
    pl = pull --rebase origin main

[init]
	defaultBranch = main

[user]
	name = kkkw
    email = kikukawa.the.3rd@gmail.com

[includeIf "gitdir:~/workspace/{{ (bitwardenFields "item" "client-2017").full_name.value | trim }}/"]
  path = .gitconfig.client_2017
